@model List<MyPortfolio.DAL.Entities.About>

<section id="about" class="s-about target-section">

    <div class="row narrow section-intro has-bottom-sep">
        <div class="col-full text-center">
            <h3>About Me</h3>
            <h1>@ViewBag.aboutTitle</h1>
            <p class="lead">@ViewBag.aboutSubDescription</p>
        </div>
    </div>

    <div class="row about-content">

        <div class="col-six tab-full left">
            <h3>Who Am I?</h3>

            <p>@ViewBag.aboutDetail</p>

        </div>

        @await Component.InvokeAsync("_SkillComponentPartial")


    </div> <!-- end about-content -->

    <div class="row about-content about-content--buttons">

        <div class="col-six tab-full ">
            <a href="#0" onclick="goToLinkedIn()" class="btn btn--primary full-width">Download My CV</a>
        </div>
        <div class="col-six tab-full ">
            <a href="#contact" class="smoothscroll btn full-width">Message Me</a>
        </div>

    </div> <!-- end about-content buttons -->
    @await Component.InvokeAsync("_ExperienceComponentPartial")

    <!-- end about-content timeline -->

</section>

<script>
    function goToLinkedIn() {
        // Specify the URL to go to
        var url = 'https://www.linkedin.com/in/yavuz-%C3%B6zbay-01739b1b1/';

                     //  C reate a new a element
            var link = document.createElement('a');

            // Assign the URL to the href property of the link
            link.href = url;

            // Click the link to start the navigation
            link.click();
        }
</script>
